#add-item-input__input-calendar {
  width: 100%;
}

#add-item-input__category-parent {
  position: relative;
}

#add-item-input__category {
  position: absolute;
  right: -65px;
  bottom: 15px;
  font-size: 12px;
}
