#add-item-nav {
  width: 100%;
  height: 5%;
}

#add-item-nav__list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-item-nav__option {
  display: block;
  width: 35%;
  height: 100%;
}

.add-item-nav__option__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: $grey-light;
  background-color: $grey;
  box-sizing: border-box;
}

#add-item-nav__option__income {
  border-radius: 10px 0 0 10px;
  border-right: none;
}

#add-item-nav__option__expense {
  border-radius: 0 10px 10px 0;
  border-left: none;
}

.add-item-nav__option__selected {
  color: $white;
}
