#add-item__wrap {
  width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  border-left: 1px solid $grey-bright;
  border-right: 1px solid $grey-bright;
  box-sizing: border-box;
}

#add-item-form__wrap {
  width: 100%;
  height: 95%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#add-item-form {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add-item-form__input-section__wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.add-item-input {
  width: 90%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .add-item-input__label {
    width: 20%;
    font-size: 14px;
    color: $black;
  }
  .add-item-input__wrap {
    width: 70%;
    height: 42px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $grey-bright;
    border-radius: 4px;
    .add-item-input__input {
      width: 80%;
      height: 100%;
      padding: 0 16px;
      box-sizing: border-box;
      font-size: 14px;
    }
    .add-item-input__select {
      width: 94%;
      height: 100%;
      padding: 0px 16px;
      box-sizing: border-box;
      font-size: 14px;
      border: none;
    }
  }
  .add-item-input__wrap:focus-within {
    border-color: $grey;
    transition: border 0.2s ease-in-out;
  }
}

#add-item-input__image {
  width: 70%;
  height: 250px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}

#add-item-input__image-preview {
  width: 100%;
  height: 80%;
  border: 2px solid $grey;
  margin-bottom: 5px;
  padding: 5px;
}

#add-item-input__image-upload-box__wrap {
  display: flex;
  width: 100%;
  margin-top: 5px;
}

#add-item-input__image-name {
  width: 70%;
  height: 30px;
  padding: 0px 10px;
  border: 1px solid #dddddd;
  color: #999999;
}

#add-item-input__image-upload-label {
  width: 30%;
  height: 30px;
  margin-left: 10px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #999999;
  cursor: pointer;
}

#add-item-input__image-upload {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

#add-item-input__input-calendar {
  width: 100%;
}

.add-item-input__unit {
  margin-right: 18px;
}

#add-item-input__select__wrap {
  position: relative;
}

.add-item-input__category {
  position: absolute;
  right: -65px;
  bottom: 15px;
  font-size: 12px;
}

#add-item-form__submit-section__wrap {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-item-form__submit {
  width: 85%;
  height: 50px;
  background-color: $black;
  border-radius: 4px;
  margin-top: 10px;
}

#add-item-form__submit__item {
  width: 100%;
  height: 100%;
  font-size: 16px;
  margin: 1px;
  color: $white;
}
