#detailItem-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #detailItem-option {
    margin-bottom: 20px;
    ul {
      li {
        display: inline-block;
      }
    }
  }

  #detailItem {
    width: 50%;
    height: 80%;
    border: 1px solid black;
    ul {
      width: 100%;
      height: 100%;
      border: 1px solid black;

      li {
        border: 1px solid black;
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        label {
          width: 30%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid black;
        }

        span {
          width: 70%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid black;
        }
      }
    }
  }
}

.item-image {
  width: 100px;
  height: 80px;
}
