#pinned-items__wrap {
  width: 100%;
  height: 100%;
  background-color: #635139;
  padding: 5px;
  box-sizing: border-box;
  overflow-y: scroll;
}

#pinned-items__wrap::-webkit-scrollbar {
  display: none;
}

#pinned-items__list {
  width: 100%;
  min-width: 500px;
  min-height: 100%;
  padding: 30px;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23FFA801FF' stroke-width='5' stroke-dasharray='15%2c 15' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 50px;
}

@media (max-width: 1800px) {
  #pinned-items__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 1500px) {
  #pinned-items__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

@media (max-width: 1200px) {
  #pinned-items__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media (max-width: 900px) {
  #pinned-items__list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
}
