extends ../base.pug

block content 
    div#addItem-wrapper
        div#incomeOrExpense
            ul
                li#income
                    a(href="/item/add-income") 수입
                li#expense
                    a(href="/item/add-expense") 지출

        div#form-wrapper
                form(method="POST")
                    div#input-section
                        div
                            label(for="date") 날짜
                            input(placeholder="YYYY", id="date", name="date", type="date", required)
                            span 년
                        div
                            label(for="amount") 금액
                            input(placeholder="amount", id="amount", name="amount", type="text", required)
                            span 원
                        div 
                            label(for="category") 분류
                            select(id="category")
                                option(value="housing_cost") 주거비
                                option(value="communication_cost") 통신비
                                option(value="transportation_cost") 교통비
                                option(value="medical_cost") 의료비
                                option(value="living_cost") 생활비
                                option(value="clothing_cost") 의류비
                                option(value="education_cost") 교육비
                                option(value="stock_trading") 주식거래
                                option(value="stock_loss") 주식손해
                                option(value="etc") 기타
                        div 
                            label(for="description") 설명
                            input(placeholder="description", id="description", name="description", type="text", required)
                        div 
                            label(for="cycle") 주기
                            select(id="cycle")
                                option(value="periodicity") 정기성
                                option(value="one-time") 일회성
                        div 
                            label(for="paymentMethod") 지불 방식 
                            select(id="paymentMethod")
                                option(value="credit_card") 신용카드
                                option(value="check_card") 체크카드
                                option(value="cash") 현금
                    div#button-section
                        input(type="submit", value="생성")