extends ../base.pug

block content 
    div#addItem-wrapper
        include ../partials/addItem_nav.pug

        div.form-wrapper
            form(method="POST").incomeBgColor
                div.form-input-section
                    div
                        label(for="date") 날짜
                        input(placeholder="YYYY", id="date", name="date", type="date", required)
                        span 년
                    div
                        label(for="amount") 금액
                        input(placeholder="amount", id="amount", name="amount", type="text", required)
                        span 원
                    div 
                        label(for="category") 분류
                        select(id="category", name="category", required)
                            option(value="월급") 월급
                            option(value="주급") 주급
                            option(value="용돈") 용돈
                            option(value="은행이자") 은행이자
                            option(value="주식이윤") 주식이윤
                            option(value="기타") 기타
                    div 
                        label(for="description") 설명
                        input(placeholder="description", id="description", name="description", type="text")
                    div 
                        label(for="cycle") 주기
                        select(id="cycle", name="cycle", required)
                            option(value="정기성") 정기성
                            option(value="일회성") 일회성
                div.form-button-section
                    input(type="submit", value="추가하기")