extends ../base.pug
include ./pinned-list-item-mixins.pug

block content 
    div#pinned-items__wrap
        ul#pinned-items__list
            if itemList.length > 0
                each item in itemList
                    +list(item)
            else
                div#pinned-items__empty__wrap
                    span#pinned-items__empty 핀 목록에 넣은 내역이 없습니다. 