extends ../base.pug
include ../mixins/board-list-post-mixins.pug

block content
    div#board-wrapper
        div#board-header
            div 번호
            div 제목
            div 조회 수
        div#board-main 
            ul
                each post in postList
                    +list(post)
        div#board-pages
            span test2
        div#board-options
            button
                a(href="/post/add") 글 쓰기