extends ../base.pug

block content
    div#board-wrapper
        div#board-header
            span test0
        div#board-main 
            span test1
        div#board-pages
            span test2
        div#board-options
            button
                a(href="/board/add-post") 글 쓰기