#detail-post__wrap {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: $white;
}

#detail-post {
  min-width: 650px;
  width: 50%;
  height: 100%;
  margin: auto;
}

#detail-post__infos__wrap {
  width: 100%;
}

.detail-post__info__wrap {
  width: 100%;
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $grey-bright;
  box-sizing: border-box;
}

.detail-post__info__wrap:first-child,
.detail-post__info__wrap:last-child {
  border: none;
}

#detail-post__board {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#detail-post__board__link {
  font-weight: 600;
  color: $grey-light;
}

#detail-post__board__link:hover {
  color: $red-deep;
}

#detail-post__title__wrap {
  border-top: 2px solid $grey-bright;
  border-bottom: 2px solid $grey-bright;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#detail-post__title,
#detail-post__date {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#detail-post__title {
  width: 80%;
  height: auto;
  font-size: 20px;
  font-weight: 600;
  color: $grey-deep;
  margin-bottom: 8px;

  display: block;
  line-height: 2;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;

  &:hover {
    opacity: 0.5;
  }
}

#detail-post__date {
  font-size: 12px;
  color: $grey;
}

#detail-post__owner,
#detail-post__meta-infos__wrap {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#detail-post__owner__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

#detail-post__owner-avatar {
  width: 22px;
  height: 22px;
  margin-right: 3px;
}

#detail-post__owner-name {
  width: 300px;
  display: block;
  margin-bottom: 3px;

  font-size: 13px;
  color: $grey;
  line-height: 2;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

#detail-post__owner__link:hover > #detail-post__owner-name {
  color: $red-deep;
}

.detail-post__meta-info__label,
.detail-post__meta-info__span {
  font-size: 12px;
  color: $grey;
}

.detail-post__meta-info__span {
  font-weight: 600;
}

.detail-post__meta-info {
  padding: 0px 10px;
  box-sizing: border-box;
}

.detail-post__meta-info:last-child {
  padding-right: 0px;
}

#detail-post__url {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#detail-post__link,
#detail-post__link__copy-button {
  font-size: 10px;
  color: $grey;
}

#detail-post__link__copy-button {
  margin-left: 8px;
  background-color: $grey-bright;
  padding: 3px;
  border-radius: 5px;
}

#detail-post__link:hover {
  text-decoration: underline;
}

#detail-post__link__copy-button:hover {
  color: $red-deep;
}

#detail-post__content__wrap {
  width: 100%;
}

#detail-post__content {
  width: 100%;
  min-height: 100px;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;

  overflow: hidden;
  word-break: break-all;
  line-height: 1.5;
}

#detail-post__options__wrap {
  width: 100%;
  height: 50px;
  border-top: 1px solid $grey-bright;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.detail-post__option__wrap {
  margin-right: 10px;
}

.detail-post__option-link,
.detail-post__option-button {
  width: 100%;
  height: 100%;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $grey-bright;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
  box-sizing: border-box;
}

.detail-post__option-span {
  margin-left: 5px;
}
