.ledger-list__item {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.ledger-list__item__link {
  display: block;
  width: 80%;
  height: 100%;
}

.ledger-list__item-contents {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ledger-list__item-contents-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  margin-left: 20px;
  color: $grey-blur;
  box-sizing: border-box;
}

.ledger-list__item-contents-content-date {
  width: 15%;
}

.ledger-list__item-contents-content-amount {
  width: 15%;
}

.ledger-list__item-contents-content-description {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 30%;
  margin-right: 10%;
}

.ledger-list__item-contents-content-category {
  width: 15%;
}

.ledger-list__item-contents-content-cycle {
  width: 15%;
}
