#add-item__button {
  position: absolute;
  right: 30px;
  bottom: 30px;
  background-color: $green-deep;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  i {
    color: $white;
    font-size: 30px;
  }
}

#add-item__button:hover {
  opacity: 0.8;
}

#ledger__wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid $grey-blur;
  border-right: 1px solid $grey-blur;
  box-sizing: border-box;
  position: relative;
}

#ledger-content {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#ledger-content__header {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $white;
  box-sizing: border-box;
}

#ledger-total {
  width: 85%;
  height: 100%;
  background-color: $grey-bright;
}

#ledger-total__item-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.ledger-total__item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ledger-total__item-span {
  font-size: 16px;
  font-weight: 600;
}

#ledger-options {
  width: 15%;
  height: 100%;
  background-color: $white;
}

#ledger-options__item-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ledger-options__item {
  width: 100%;
  height: 100%;
  .ledger-options__item-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 14px;
    font-weight: 600;
    border: 5px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    opacity: 0.3;
  }

  .ledger-options__item-link:hover {
    opacity: 0.2;
  }
}

.ledger-options__item-link__all {
  background-color: $green;
}

#ledger-options__item-clicked {
  opacity: 1;
}

#ledger-options__item-clicked:hover {
  opacity: 0.8;
}

#ledger-list__wrap {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ledger-list__header {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green-deep;
}

#ledger-list__header-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  box-sizing: border-box;
}

.ledger-list__header-item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-left: 1px solid $white;
  border-right: 1px solid $white;
  box-sizing: border-box;
  color: $grey-blur;
}

.ledger-list__header-item:first-child {
  border-left: none;
}

.ledger-list__header-item:last-child {
  border-right: none;
}

#ledger-list__header-item__date {
  width: 20%;
}

#ledger-list__header-item__amount {
  width: 20%;
}

#ledger-list__header-item__category {
  width: 20%;
}

#ledger-list__header-item__description {
  width: 30%;
}

#ledger-list__header-item__cycle {
  width: 10%;
}

#ledger-list {
  width: 100%;
  height: 95%;
  overflow-y: scroll;
}

#ledger-list::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1000px) {
  #ledger-total {
    width: 80%;
  }

  #ledger-options {
    width: 20%;
  }
}
