#ledger-nav {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $grey;
  border-bottom: 1px solid $white;
  box-sizing: border-box;
}

.legder-nav__item {
  display: inline-block;
  margin: 0 50px;
}

.legder-nav__item__link {
  font-weight: 600;
  font-size: 16px;
  color: $grey-light;
}

.legder-nav__item__clicked {
  color: $grey-bright;
}

.legder-nav__item__link:hover {
  color: $grey-bright;
}
