$white: white;
$black: #000a12;
$grey-deep: #263238;
$grey: #4f5b62;
$grey-light: #b2b2b2;
$grey-bright: #dddddd;
$grey-blur: rgb(247, 247, 247);
$green: #00baa0;
$green-deep: #00a6b3;
$green-light: #78e08f;
$blue: #81d4fa;
$blue-light: #b3e5fc;
$blue-deep: #4fc3f7;
$navy: #0c2461;
$forest_blue: #0a3d62;
$orange: #ffab91;
$orange-light: #ffccbc;
$orange-deep: #ff8a65;
$red-deep: #e74c3c;
$red-light: #fc5c65;
$pink-deep: #d8677e;
$purple-light: #9d5185;
$purple: #584379;
$shadow: 0px 2px 2px 0px var($black);
$yellow: #fed330;
$yellow-light: #f6e58d;
