$black: rgba(0, 0, 0, 0.9);
$white: rgba(255, 255, 255, 0.9);
$thickGreen: rgba(172, 255, 47, 0.4);
$income-color: rgba(30, 143, 255, 0.8);
$expense-color: rgba(255, 99, 71, 0.8);
$shadow: 0px 2px 2px 0px var($black);
$border: 5px solid rgba(0, 0, 0, 0.2);
