$white: white;
$black: #000a12;
$grey: #4f5b62;
$grey-bright: #dddddd;
$grey-light: #b2b2b2;
$grey-deep: #263238;
$grey-blur: rgb(247, 247, 247);
$green: #18a286;
$blue: #0078ff;
$red: #ff0000;
$shadow: 0px 2px 2px 0px var($black);
