extends ../base.pug
include chart-list-item-mixins.pug

block content 
    div#chart-wrapper 
        include chart_nav.pug

        div#chart-list
            ul 
                div#chart-list-title
                    div 분류
                    div 합계
                    div 비율
                each category of categories
                    +list(category)