mixin list(chartData)
    li.chart-list__item
        div.chart-list__item-content #{chartData.category}
        div.chart-list__item-content #{chartData.string_sumAmount}ì›
        div.chart-list__item-content #{`${chartData.percentage} %`}