extends ../base.pug
include ../mixins/chart-list-item-mixins.pug

block content 
    div#chart-wrapper 
        include ../partials/chart_nav.pug

        div#chart-list
            ul 
                each category of categories
                    +list(category)