.post__wrap {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid $grey-blur;
  box-sizing: border-box;
}

.post__link {
  display: block;
  width: 100%;
  height: 100%;
}

.post__link:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.post-contents__wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-content {
  width: 15%;
  height: 100%;
  padding: 25px;
  font-size: 14px;
  color: $grey-deep;
  box-sizing: border-box;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  box-sizing: border-box;
}

.post__seq,
.post__views,
.post__likes {
  width: 10%;
}

.post__title {
  text-align: left;
  width: 25%;
}
