.post__wrap {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid $grey-blur;
  box-sizing: border-box;
}

.post__wrap:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.post-contents__wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-content {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.post-content__seq,
.post-content__views,
.post-content__likes {
  width: 10%;
}

.post-content__title {
  text-align: left;
  width: 25%;
}

.post-board__link,
.post__link,
.post-owner__link {
  width: 100%;
  height: 100%;
  padding: 20px;
  font-size: 14px;
  color: $grey-deep;

  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.post-board__link:hover,
.post-owner__link:hover {
  color: $red-deep;
}

.post__link {
  text-align: left;
}
