#board-pagination {
  width: 60%;
  min-width: 700px;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid $grey-bright;
  border-bottom: 2px solid $grey-bright;
  box-sizing: border-box;
}

#board-pagination__prev-page-btn__wrap,
#board-pagination__next-page-btn__wrap {
  width: 10%;
}

#board-pagination__page-btns__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.board-pagination__page-btn__wrap {
  width: 20px;
  height: 25px;
  margin: 10px;
}

.board-pagination__ellipsis {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.board-pagination__page-btn,
#board-pagination__prev-page-btn,
#board-pagination__next-page-btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $grey-light;
}

.board-pagination__page-btn:hover {
  color: $grey-deep;
}

#board-pagination__prev-page-btn i,
#board-pagination__next-page-btn i {
  color: $grey-deep;
}

#board-pagination__prev-page-btn i:hover,
#board-pagination__next-page-btn i:hover {
  color: $grey-light;
}

#board-pagination__current-page-btn {
  color: black;
  background-color: $grey-bright;
  font-weight: 600;
  border: 1px solid $grey;
  border-radius: 5px;
  opacity: 0.7;
}
