#board-pagination {
  width: 60%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid $grey-bright;
  border-bottom: 2px solid $grey-bright;
  box-sizing: border-box;
}

.board-pagination__page-btn__wrap {
  margin: 10px;
}

.board-pagination__current-page-btn__wrap {
  background-color: #686de0;
}
