extends ../base.pug
include chart-item-mixin.pug

block content 
    div#chart__wrap(data-chart_data_arr=`${JSON.stringify(chartDataArr)}`)
        include chart-nav.pug

        div#chart-contents
            div#chart-canvas__wrap
                canvas#chart-canvas
            div#chart-list__wrap
                div#chart-list__header__wrap
                    div.chart-list__header-item 분류
                    div.chart-list__header-item 합계
                    div.chart-list__header-item 비율
                ul#chart-list
                    each chartData of chartDataArr
                        +list(chartData)

block scripts 
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script(src="/assets/js/chart.js")