mixin list(chartData)
    li.chart-item
        div.chart-item-content #{chartData.category}
        div.chart-item-content #{chartData.stringAmount}ì›
        div.chart-item-content #{`${chartData.percentage} %`}