extends ../base.pug

block content
    div.form-container
        div.form__wrap#post-form__wrap
            form(method="POST").form
                div.form__input-section__wrap
                    div.input
                        label(for="title").input__label 제목
                        div.input__input__wrap
                            input(placeholder="title", id="title", name="title", type="text", value=`${post.title}`, required).input__input
                    div.input
                        label(for="boardName").input__label 게시판
                        div.input__input__wrap
                            select(id="boardName", name="boardName", value=`${post.board.name}` required).input__select
                                each board_name in boardList
                                    option(value=`${board_name}`)=board_name
                    div.input
                        label(for="content").input__label 내용
                        div.input__textarea__wrap
                            textarea(placeholder="내용", id="content", name="content", type="text", required).input__textarea #{post.content}
                div.form__sumbit-section__wrap
                    div.form__submit
                        button(type="submit", value="추가하기").submit__item 작성하기