// Config
@import "./config/_reset.scss";
@import "./config/_variables.scss";

// Components
@import "./components/container.scss";
@import "./components/form.scss";
@import "./components/image.scss";

// Screens
@import "./screens/board/board-list-post-mixins.scss";
@import "./screens/board/board.scss";

@import "./screens/comment/comment.scss";

@import "./screens/etc/chart_nav.scss";
@import "./screens/etc/chart-list-item-mixins.scss";
@import "./screens/etc/chart.scss";
@import "./screens/etc/lastExpense-list-item-mixins.scss";
@import "./screens/etc/lastExpense.scss";

@import "./screens/global/home.scss";
@import "./screens/global/join.scss";
@import "./screens/global/login.scss";

@import "./screens/item/addItem_nav.scss";
@import "./screens/item/addItem.scss";
@import "./screens/item/detailItem.scss";
@import "./screens/item/editItem.scss";
@import "./screens/item/pinnedItems.scss";

@import "./screens/ledger/ledger_calendar.scss";
@import "./screens/ledger/ledger_nav.scss";
@import "./screens/ledger/ledger-list-item-mixins.scss";
@import "./screens/ledger/ledger.scss";

@import "./screens/mixins/message.scss";

@import "./screens/partials/footer.scss";
@import "./screens/partials/footer.scss";
@import "./screens/partials/header.scss";
@import "./screens/partials/main.scss";
@import "./screens/partials/nav.scss";

@import "./screens/partials/main.scss";
@import "./screens/partials/nav.scss";

@import "./screens/post/addPost.scss";
@import "./screens/post/detailPost.scss";
@import "./screens/post/editPost.scss";

@import "./screens/user/editUserPassword.scss";
@import "./screens/user/editUserProfile.scss";
@import "./screens/user/user-list-category-mixins.scss";
@import "./screens/user/user-list-comment-mixins.scss";
@import "./screens/user/user-list-post-mixins.scss";
@import "./screens/user/userOwnCategories.scss";
@import "./screens/user/userOwnCategories_nav.scss";
@import "./screens/user/userOwnComments.scss";
@import "./screens/user/userOwnPosts.scss";
@import "./screens/user/userProfile.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  #middle {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

.income-color {
  color: $blue;
}

.income-color-light {
  color: $blue-light;
}

.income-color-deep {
  color: $blue-deep;
}

.income-bgcolor {
  background-color: $blue;
}
.income-bgcolor-light {
  background-color: $blue-light;
}

.income-bgcolor-deep {
  background-color: $blue-deep;
}

.income-bordercolor {
  border: 2px solid $blue;
}
.income-bordercolor-light {
  border: 2px solid $blue-light;
}

.income-bordercolor-deep {
  border: 2px solid $blue-deep;
}

.income-bgimage-gradient {
  background-image: linear-gradient(
    to left bottom,
    #b3e5fc,
    #aae2fb,
    #a1dffb,
    #98dbfa,
    #8ed8fa,
    #86d5fa,
    #7ed3f9,
    #76d0f9,
    #6dcdf8,
    #64caf8,
    #5ac6f7,
    #4fc3f7
  );
}

.expense-color {
  color: $orange;
}

.expense-color-light {
  color: $orange-light;
}

.expense-color-deep {
  color: $orange-deep;
}

.expense-bgcolor {
  background-color: $orange;
}

.expense-bgcolor-light {
  background-color: $orange-light;
}

.expense-bgcolor-deep {
  background-color: $orange-deep;
}

.expense-bgimage-gradient {
  background-image: linear-gradient(
    to left bottom,
    #ffccbc,
    #ffc6b4,
    #ffc0ac,
    #ffb9a4,
    #ffb39c,
    #ffae95,
    #ffa88d,
    #ffa386,
    #ff9d7e,
    #ff9775,
    #ff906d,
    #ff8a65
  );
}

.expense-bordercolor {
  border: 2px solid $orange;
}
.expense-bordercolor-light {
  border: 2px solid $orange-light;
}

.expense-bordercolor-deep {
  border: 2px solid $orange-deep;
}

.plus-color {
  color: #2980b9;
}

.minus-color {
  color: $red-deep;
}

textarea {
  resize: none;
}

.hidden {
  display: none;
}
