// Components
@import "./components/image.scss";
@import "./components/form.scss";

// Config
@import "./config/_reset.scss";
@import "./config/_variables.scss";

// Screens
@import "./screens/board/board.scss";

@import "./screens/comment/comment.scss";

@import "./screens/etc/chart.scss";
@import "./screens/etc/lastExpense.scss";

@import "./screens/global/home.scss";
@import "./screens/global/join.scss";
@import "./screens/global/login.scss";

@import "./screens/item/addItem.scss";
@import "./screens/item/detailItem.scss";
@import "./screens/item/editItem.scss";
@import "./screens/item/pinnedItems.scss";

@import "./screens/ledger/ledger.scss";

@import "./screens/mixins/board-list-post-mixins.scss";
@import "./screens/mixins/chart-list-item-mixins.scss";
@import "./screens/mixins/lastExpense-list-item-mixins.scss";
@import "./screens/mixins/ledger-list-item-mixins.scss";

@import "./screens/partials/addItem_nav.scss";
@import "./screens/partials/chart_nav.scss";
@import "./screens/partials/footer.scss";
@import "./screens/partials/header.scss";
@import "./screens/partials/ledger_calendar.scss";
@import "./screens/partials/ledger_nav.scss";
@import "./screens/partials/main.scss";
@import "./screens/partials/nav.scss";

@import "./screens/post/addPost.scss";
@import "./screens/post/detailPost.scss";
@import "./screens/post/editPost.scss";

@import "./screens/user/editPassword.scss";
@import "./screens/user/editProfile.scss";
@import "./screens/user/profile.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #middle {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

a {
  text-decoration: none;
  color: black;
}

.incomeColor {
  color: $income-color;
}

.expenseColor {
  color: $expense-color;
}

.incomeBgColor {
  background-color: $income-color;
}

.expenseBgColor {
  background-color: $expense-color;
}

textarea {
  resize: none;
}
