#comment__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#comment-form__wrap {
  width: 100%;
  border-top: 2px solid $grey;
  border-bottom: 2px solid $grey;
  margin-bottom: 10px;
}

#comment-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#comment-form__input {
  width: 600px;
  height: 80px;
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid $grey-bright;
  border-radius: 4px;
}

#comment-form__input:focus-within {
  border-color: $grey;
  transition: border 0.2s ease-in-out;
}

#comment-form__button {
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: $grey-deep;
  color: $white;
  font-weight: 800;
  border-radius: 4px;
  cursor: pointer;
}

#comment-form__button:hover {
  opacity: 0.8;
}

#comment-list__wrap {
  width: 100%;
}

#commnet-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}
