#middle {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.income-color {
  color: $blue;
}

.income-color-light {
  color: $blue-light;
}

.income-color-deep {
  color: $blue-deep;
}

.income-bgcolor {
  background-color: $blue;
}
.income-bgcolor-light {
  background-color: $blue-light;
}

.income-bgcolor-deep {
  background-color: $blue-deep;
}

.income-bordercolor {
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
}
.income-bordercolor-light {
  border-top: 1px solid $blue-light;
  border-bottom: 1px solid $blue-light;
}

.income-bordercolor-deep {
  border-top: 1px solid $blue-deep;
  border-bottom: 1px solid $blue-deep;
}

.income-bgimage-gradient {
  background-image: linear-gradient(
    to left bottom,
    #b3e5fc,
    #aae2fb,
    #a1dffb,
    #98dbfa,
    #8ed8fa,
    #86d5fa,
    #7ed3f9,
    #76d0f9,
    #6dcdf8,
    #64caf8,
    #5ac6f7,
    #4fc3f7
  );
}

.expense-color {
  color: $orange;
}

.expense-color-light {
  color: $orange-light;
}

.expense-color-deep {
  color: $orange-deep;
}

.expense-bgcolor {
  background-color: $orange;
}

.expense-bgcolor-light {
  background-color: $orange-light;
}

.expense-bgcolor-deep {
  background-color: $orange-deep;
}

.expense-bgimage-gradient {
  background-image: linear-gradient(
    to left bottom,
    #ffccbc,
    #ffc6b4,
    #ffc0ac,
    #ffb9a4,
    #ffb39c,
    #ffae95,
    #ffa88d,
    #ffa386,
    #ff9d7e,
    #ff9775,
    #ff906d,
    #ff8a65
  );
}

.expense-bordercolor {
  border-top: 1px solid $orange;
  border-bottom: 1px solid $orange;
}
.expense-bordercolor-light {
  border-top: 1px solid $orange-light;
  border-bottom: 1px solid $orange-light;
}

.expense-bordercolor-deep {
  border-top: 1px solid $orange-deep;
  border-bottom: 1px solid $orange-deep;
}

.plus-color {
  color: #2980b9;
}

.minus-color,
.warning {
  color: $red-deep;
}

.hidden {
  display: none;
}
