extends ../../base.pug

block content 
    div.form-container
        div.form__wrap
            form.form#edit-user-password__form
                div.form__input-section__wrap#edit-user-password__input-section
                    div.input
                        label(for="password").input__label.edit-user-password__input__label 비밀번호 
                        div.input__input__wrap
                            input(id="password", name="password", type="password", required).input__input
                    div.input
                        label(for="new_password").input__label.edit-user-password__input__label 새 비밀번호
                        div.input__input__wrap
                            input(id="new_password", name="new_password", type="password", required).input__input
                    div.input
                        label(for="new_password_confirm").input__label.edit-user-password__input__label 새 비밀번호 확인
                        div.input__input__wrap
                            input(id="new_password_confirm", name="new_password_confirm", type="password", required).input__input

                div.form__sumbit-section__wrap#edit-user-password__submit-section
                    div.form__submit
                        button(type="submit", value="변경하기").submit__item 변경하기

block scripts 
    script(src="/assets/js/edit-user-password.js") 