extends ../base.pug

block content 
    div#home__container
        i#home__main-image.fa-solid.fa-face-smile
        div#home__message__container
            h1#home__message Welcome to
            h1#home__message JH Personal Financial Ledger !!
        div#home__sub-image__container
            i.home__sub-image#home__sub-image__red.fa-solid.fa-wallet
            i.home__sub-image#home__sub-image__blue.fa-solid.fa-wallet
            i.home__sub-image#home__sub-image__green.fa-solid.fa-wallet