extends ../base.pug

block content 
    div#form-wrapper
            form(method="POST")
                div#input-section
                    div
                        label(for="username") 아이디
                        input(placeholder="ID", id="username", name="username", type="text", required)
                    div
                        label(for="password") 비밀번호
                        input(placeholder="Password", id="password", name="password", type="text", required)
                    div 
                        label(for="password_confirm") 비밀번호 확인
                        input(placeholder="Confirm Password", id="password_confirm", name="password_confirm", type="text", required)
                    div 
                        label(for="name") 이름
                        input(placeholder="Name", id="name", name="name", type="text", required)
                    div 
                        label(for="email") 이메일
                        input(placeholder="Email", id="email", name="email", type="email", required)
                    div 
                        label(for="nickname") 닉네임
                        input(placeholder="Nickname", id="nickname", name="nickname", type="text", required)
                div#button-section
                    input(type="submit", value="회원가입")