extends ../base.pug

block components
    div.container
        div#loginContainer
            div.login-title__wrap
                h2.login-title 로그인
            div.login-form__wrap
                form(method="POST").login-form
                    div.login-form__input-section
                        div.login-input
                            div.login-input__wrap
                                input(placeholder="아이디", id="username", name="username", type="text", value=saved_username, required).login-input__input
                                button(type="button").login-input__button-clear.hidden
                                    i.fa-solid.fa-circle-xmark
                        div.login-input
                            div.login-input__wrap
                                input(placeholder="비밀번호", id="password", name="password", type="password", required).login-input__input
                                button(type="button").login-input__button-clear.hidden
                                    i.fa-solid.fa-circle-xmark
                                button(type="button").login-input__button-show
                                    i.fa-solid.fa-eye
                    div.login-button
                        button(type="submit").login-button__item 로그인
                    div.login-utils
                        div.login-checkbox
                            if save_username
                                input(id="save_username", name="save_username", type="checkbox" checked)
                            else 
                                input(id="save_username", name="save_username", type="checkbox")
                            label(for="save_username").login-checkbox__label 아이디 저장
                        div.login-join
                            a(href="/join") 회원가입
            div.login-social__wrap
                div.login-social-button 
                    a(href="/auth/google") 구글 로그인

block scripts
    script(src="/assets/js/login.js")