include mixins/message.pug

doctype html
html(lang="ko")
    head 
        title #{pageTitle} | PFL
        link(rel="stylesheet", href="/assets/css/styles.css")
        // gulp-webserver에서 실행하는 index.html 기준 css 경로
        link(rel="stylesheet", href="/css/styles.css")
    body 
        if messages
            if messages.info
                +message("info", messages.info)
            if messages.success
                +message("success", messages.success)
            if messages.error                     
                +message("error", messages.error)
        block components
            include partials/header.pug
            div#middle
                include partials/nav.pug
                include partials/main.pug
            include partials/footer.pug
    script(src="/assets/js/main.js") 
    script(src="/assets/js/nav.js") 
    script(src="https://kit.fontawesome.com/4bc00e0a4c.js" crossorigin="anonymous")
    block scripts