div#chart-nav
    ul
        li
            a(href='/etc/chart/7') 최근 7일
        li
            a(href='/etc/chart/30') 최근 30일
        li
            a(href='/etc/chart/90') 최근 90일
        li
            a(href='/etc/chart/365') 최근 365일