footer
    h2#footer__title © 2023 JH Personal Financial Ledger. All Rights Reserved.
    div#footer__developer-info__container
        span#footer__developer-info__description Developed by
        a(href="https://github.com/JongHoonSon")#footer__developer__link
            span#footer__developer-info__name JongHoon Son
            i#footer__developer__link__github-image.fa-brands.fa-github
        