header
    div#headerContainer
        div.header-home__wrap
            a(href="/").header-home__link Personal Financial Ledger
        div.header-nav__wrap 
            ul.header-nav__list
                if loggedIn 
                    li.header-nav__option
                        span.header-nav__welcome #{loggedInUser.nickname} 님 반갑습니다.

                    li.header-nav__option
                        a(href=`/user/profile/${loggedInUser._id}`).header-nav__option__link 마이페이지

                    li.header-nav__option
                        a(href="/logout").header-nav__option__link 로그아웃