nav.nav_menu
    ul 
        if loggedIn 
            li.nav_option 
                a(href="/logout") 로그아웃

            li.nav_option 
                a(href=`/user/profile/${loggedInUser._id}`) 내 정보

            li.nav_option
                a(href="/item/add/i") 수입/지출 내역 추가

            li.nav_option 
                a(href=`/ledger/${thisYear}-${thisMonth}-${thisDay}/daily`) 가계부

            li.nav_option
                a(href="/item/pinned") 핀 목록

            li.nav_option
                a(href="/etc/last-expense") 마지막 지출일
                
            li.nav_option
                a(href="/etc/chart/expense/7") 차트
                
            li.nav_option
                a(href="/board/전체게시판/1") 게시판

