nav 
    ul 
        if !loggedIn
            li#login
                a(href="/login") 로그인

            li#join
                a(href="/join") 회원가입
        
        if loggedIn 
            li#logout 
                a(href="/logout") 로그아웃

            li#profile 
                a(href=`/user/profile/${loggedInUser._id}`) 내 정보

            li#addItem
                a(href="/item/add/i") 수입/지출 내역 추가

            li#ledger 
                a(href=`/ledger/${thisYear}-${thisMonth}-${thisDay}/daily`) 가계부

            li#pinned 
                a(href="/item/pinned") 핀 목록

            li#last_expense 
                a(href="/etc/last-expense") 마지막 지출일
                
            li#report 
                a(href="/etc/chart/7") 소비 리포트
                
            li#board 
                a(href="/board/전체게시판") 게시판

