nav 
    ul 
        li#login
            form(method="POST")
                label(for="username") ID
                input(placeholder="ID", id="username", name="username", type="text", required)
                label(for="password") PW
                input(placeholder="PW", id="password", name="password", type="password", required)
                input(type="submit", value="Login")

        li#join
            a(href="/join") 회원가입

        li#profile 
            a(href="/user/profile") 프로필

        li#ledger 
            a(href="/ledger/2022-06/Daily") 가계부

        li#pinned 
            a(href="/item/pinned-items") 핀 목록

        li#report 
            a(href="/chart") 소비 리포트

        li#last_expense 
            a(href="/last-expense") 마지막 지출일
