div#user-own-categories__nav
    button.user-own-categories__nav__tab#user-own-categories__nav__income-tab.selected-tab(data-categoryType="i") 수입 카테고리
    button.user-own-categories__nav__tab#user-own-categories__nav__expense-tab(data-categoryType="e") 지출 카테고리
