extends ../base.pug
include ledger-list-item-mixins.pug

block content 
    div#ledger-wrapper
        include ledger_nav.pug

        include ledger_calendar.pug

        div#ledger-content
            div#ledger-total
                ul#ledger-total__item-list
                    li.ledger-total__item
                        span.ledger-total__item__span.income-color-deep #{'총 수입액 : ' + stringSumIncomeAmount + '원'} 
                    li.ledger-total__item
                        span.ledger-total__item__span.expense-color-deep #{'총 지출액 : ' + stringSumExpenseAmount + '원'}
                    li.ledger-total__item
                        span(class=`${gap !== 0 ? gap > 0 ? 'plus-color' : 'minus-color' : ''}`).ledger-total__item__span  #{'합계 : ' + (gap !== 0 ? gap > 0 ? '+' : '-' : '') + (stringAbsGap) + '원'}

            div#ledger-list
                ul
                    each item in itemList
                        +list(item)