extends ../base.pug
include ledger-list-item-mixins.pug

block content 
    div#ledger-wrapper
        include ledger_nav.pug

        include ledger_calendar.pug

        div#ledger-content
            div#ledger-total
                ul#ledger-total__item-list
                    li.ledger-total__item
                        span.ledger-total__item__span.income-color-deep #{'총 수입액 : +' + stringSumIncomeAmount + '원'} 
                    li.ledger-total__item
                        span.ledger-total__item__span.expense-color-deep #{'총 지출액 : -' + stringSumExpenseAmount + '원'}
                    li.ledger-total__item
                        span(class=`${gap !== 0 ? gap > 0 ? 'plus-color' : 'minus-color' : ''}`).ledger-total__item__span  #{'합계 : ' + (gap !== 0 ? gap > 0 ? '+' : '-' : '') + (stringAbsGap) + '원'}

            div#ledger-list__wrap
                div#ledger-list__header
                    div#ledger-list__header__list
                        span.ledger-list__header__item#ledger-list__header__item__date 수입/지출일
                        span.ledger-list__header__item#ledger-list__header__item__amount 금액
                        span.ledger-list__header__item#ledger-list__header__item__category 분류
                        span.ledger-list__header__item#ledger-list__header__item__description 설명
                        span.ledger-list__header__item#ledger-list__header__item__cycle 주기
                ul#ledger-list
                    each item in itemList
                        +list(item)