extends ../base.pug
include ../mixins/item-mixins-daily.pug

block content 
    div#ledger-wrapper
        include ../partials/ledger_nav.pug

        div#ledger-content
            div#ledger-daily
                ul
                    each item in itemList
                        +daily(item)