.user-own-posts__post-table__tbody__tr,
.user-own-comments__comment-table__tbody__tr {
  border-bottom: 1px solid $grey-light;
}

.user-own-posts__post-table__tbody__tr:hover,
.user-own-comments__comment-table__tbody__tr:hover {
  background-color: $grey-blur;
}

.user-own-posts__post-table__tbody__tr__td,
.user-own-comments__comment-table__tbody__tr__td {
  text-align: center;
  padding: 10px;
}
