#user-own-categories {
  width: 100%;
  height: 100%;
}

#user-own-categories__contents {
  width: 100%;
  height: 80%;
  position: relative;
  background-color: $grey-blur;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-own-categories__list__wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 20px;
  box-sizing: border-box;
}

#user-own-categories__expense {
  display: none;
}

.user-own-categories__list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#user-own-categories__add-category__wrap {
  width: 100%;
  height: 10%;
  background-color: $grey-bright;
  display: flex;
  justify-content: center;
  align-items: center;
}

#user-own-categories__add-category__input {
  width: 50%;
  height: 50%;
  margin: 0px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 10px;
  box-sizing: border-box;
  border-radius: 4px;
}

#user-own-categories__add-category__input:focus {
  border: 1px solid $grey-deep;
}

#user-own-categories__add-category__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: default;
}

#user-own-categories__add-category__submit__icon {
  cursor: pointer;
  color: $green;
  font-size: 32px;
}
