#user-own-comments__comment-table__tbody__tr__td__title {
  text-align: left;
  padding: 10px 50px;
}

#user-own-comments__comment-table__tbody__tr__td__content {
  text-align: left;
  padding: 10px 50px;
}
