#user-own-comments__comment-table__colgroup__col__date {
  width: 15%;
}

#user-own-comments__comment-table__colgroup__col__post-title {
  width: 25%;
}

#user-own-comments__comment-table__colgroup__col__content {
  width: 40%;
}

#user-own-comments__comment-table__colgroup__col__likes {
  width: 20%;
}
