#user-own-contents__wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#user-own-contents__header__wrap {
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 3px solid $black;
}

#user-own-contents__header {
  padding: 0 10px;
  font-size: 24px;
  font-weight: bold;
}

#user-own-contents__table__wrap {
  width: 80%;
  height: 70%;
}

#user-own-contents__table__wrap {
  overflow-y: scroll;
}

#user-own-contents__table__wrap::-webkit-scrollbar {
  display: none;
}

#user-own-contents__content-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  box-sizing: border-box;
}

#user-own-contents__content-table__thead {
  box-sizing: border-box;
}

.user-own-contents__content-table__thead__th {
  position: sticky;
  top: 0px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  padding: 15px;
  border-bottom: 2px solid $black;
  background-color: $white;
}

#empty-table {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-left: 10px;
}
