#user-own-posts__wrap,
#user-own-comments__wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#user-own-posts__header__wrap,
#user-own-comments__header__wrap {
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 3px solid $black;
}

#user-own-posts__header,
#user-own-comments__header {
  padding: 0 10px;
  font-size: 24px;
  font-weight: bold;
}

#user-own-posts__table__wrap,
#user-own-comments__table__wrap {
  width: 80%;
  height: 70%;
}

#user-own-posts__table__wrap,
#user-own-comments__table__wrap {
  overflow-y: scroll;
}

#user-own-posts__table__wrap::-webkit-scrollbar,
#user-own-comments__table__wrap::-webkit-scrollbar {
  display: none;
}

#user-own-posts__post-table,
#user-own-comments__comment-table {
  width: 100%;
  table-layout: fixed;
}

#user-own-posts__post-table__colgroup__col__date {
  width: 20%;
}

#user-own-posts__post-table__colgroup__col__title {
  width: 50%;
}

#user-own-posts__post-table__colgroup__col__views {
  width: 15%;
}

#user-own-posts__post-table__colgroup__col__likes {
  width: 15%;
}

#user-own-posts__post-table__thead,
#user-own-comments__comment-table__thead {
  position: sticky;
  top: 0px;
  border-bottom: 1px solid $black;
  background-color: $white;
}

.user-own-posts__post-table__thead__th,
.user-own-comments__comment-table__thead__th {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  padding: 15px;
}
