#user-own-posts__post-table__colgroup__col__date {
  width: 25%;
}

#user-own-posts__post-table__colgroup__col__title {
  width: 45%;
}

#user-own-posts__post-table__colgroup__col__views {
  width: 15%;
}

#user-own-posts__post-table__colgroup__col__likes {
  width: 15%;
}
