extends ../base.pug

block content 
    div#editPassword-wrapper
        div.form-wrapper
                form(method="POST")
                    div.form-input-section
                        div
                            label(for="password") 비밀번호 
                            input(id="password", name="password", type="password", required)
                        div
                            label(for="new_password") 새 비밀번호
                            input(id="new_password", name="new_password", type="password", required)
                        div
                            label(for="new_password_confirm") 새 비밀번호 확인
                            input(id="new_password_confirm", name="new_password_confirm", type="password", required)

                    div.form-button-section
                        input(type="submit", value="변경하기")