extends ../base.pug
include user-list-comment-mixins.pug

block content
    div#userOwnComments-wrapper
        div#userOwnComments
            ul.user-comment-list
                each comment in user.commentList.reverse()
                    +list(comment)