extends ../base.pug
include user-list-post-mixins.pug

block content
    div#userOwnPosts-wrapper
        include user_nav.pug

        div#userOwnPosts
            ul.user-post-list
                each post in user.postList.reverse()
                    +list(post)