mixin list(category)
    div.user-own-categories__category__wrap(data-category=`${category}`)
        li.user-own-categories__category=category
        button.user-own-categories__category__del-btn
            i.fa-solid.fa-circle-minus.user-own-categories__category__del-btn__icon(data-category=`${category}`)