include user-list-category-mixins.pug

div.modal__background
div.modal__body__wrap
    div#user-own-categories.modal__body
        include userOwnCategories_nav.pug

        div#user-own-categories__contents
            div.user-own-categories__list__wrap#user-own-categories__income
                ul.user-own-categories__list
                    each category in incomeCategories
                        +list(category)
            div.user-own-categories__list__wrap#user-own-categories__expense
                ul.user-own-categories__list
                    each category in expenseCategories
                        +list(category)
        div#user-own-categories__add-category__form__wrap
            input(type="text" name="new_category")#user-own-categories__add-category__input
            button(value="추가하기")#user-own-categories__add-category__submit 등록

block scripts 
    script(src="/assets/js/modal.js") 
    script(src="/assets/js/category.js") 