.post__wrap {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid $grey-blur;
  box-sizing: border-box;
}

.post__wrap:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.post-contents__wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-content {
  width: 5%;
  min-width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.post-content.post-content__board-name,
.post-content.post-content__stringDate {
  width: 15%;
}

.post-content.post-content__owner-info {
  width: 20%;
}

.post-content__title {
  text-align: left;
  width: 35%;
}

.post-board__link,
.post__link,
.post-owner__link {
  width: 100%;
  padding: 15px;
  color: $grey-deep;

  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.post-board__link:hover,
.post-owner__link:hover {
  color: $red-deep;
}

.post__link {
  text-align: left;
}

.post-owner-avatar {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
