header {
  width: 100%;
  height: 10%;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  #headerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  .header-home__wrap {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    a {
      font-size: 28px;
      font-weight: 600;
      color: $white;
    }
  }
  ul {
    display: flex;
    margin-right: 30px;
    li {
      margin-right: 30px;
      span,
      a {
        color: $white;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
