#headerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 10%;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  .header-home__wrap {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    .header-home__link {
      font-size: 28px;
      font-weight: 600;
      color: $white;
    }
  }
  .header-nav__list {
    display: flex;
    margin-right: 30px;
    .header-nav__option {
      margin-right: 30px;
      .header-nav__welcome,
      .header-nav__option__link {
        color: $white;
      }
      .header-nav__option__link:hover {
        text-decoration: underline;
      }
    }
  }
}
