nav {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .main-nav__list {
    width: 100%;
    height: 100%;
    background-color: $black;
    .main-nav__option {
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $grey-bright;
      box-sizing: border-box;
      .main-nav__option__link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0px 20px;
        font-size: 16px;
        font-weight: 600;
        color: $white;
      }
      .main-nav__option__link:hover {
        color: $grey;
      }
      .main-nav__selected {
        color: $black;
        background-color: $white;
      }
    }
  }
}
