nav {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;

  ul {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: #22a6b3;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px 10px;
      border: 1px solid black;
      background-color: #7ed6df;
      a {
        width: 100%;
        height: 100%;
        text-align: center;
      }
    }
  }
}
